<!DOCTYPE html>
<html lang="en">

  <head>

  </head>
  
  <link rel="stylesheet" href="../css/login_style.css">

  <body>
    <div class="login_container">
      <div class="login_left">
        <img src="../image/signup_image.png" class="login_img">
      </div>

      <div class="login_right">
        <div class="profile_content">
          <img src="../image/autocarexlogowhhite.png" class="logo"><br>
          <h1>Login to your account</h1>
          <p >Don't have an AutoCareX ID? Create an account <a href="../html/signup.html">here.</a></p>

          <form action="/login" method="post">
            <label for="acc">Account Name*</label><br>
            <input type="text" id="acc" name="acc_name" placeholder="Enter your account name"><br>

            <label for="pw">Password*</label><br>
            <input type="password" id="pw" name="password" placeholder="password"><br>

            <button type="submit">
              <span>GOGOGO</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>

</html>