<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="icon" href="{{ url_for('static', filename='image/autocarexlogoblack.png') }}">
        <title>AutoCareX - Manage Car</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/stylevehicle.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/trans.css') }}">
    </head>

    <body>

            <nav class="floating-nav">
                <div class="logo-area">
                    <img src="{{ url_for('static', filename='image/autocarexlogowhhite.png') }}" class="nav-logo-img">
                </div>

                <ul class="nav-links">
                    <a href="{{ url_for('home') }}">Home</a>

                    <a href="{{ url_for('vehicle') }}" class="active">Manage Car</a>

                    <a href="{{ url_for('location') }}">Car Workshop</a>

                    <a href="{{ url_for('upgrade') }}">Suggestion</a>
                    
                    <li><a href="#">Profile</a></li>
                </ul>

                <div class="nav-cta">
                    <a href="#" class="btn-contact">Contact Us</a>
                </div>
            </nav>

         <div class="text-container">
            <span class="badge">Smart Vehicle Management</span>
            <h1>Add and Monitor Your Vehicles</h1>
         </div>

        <div class="app-container">

            <aside class="sidebar">

                <div class="ev-card-body" id="evcard">

                    <div class="top-container">
                        <h1>My Garage</h1>

                        <div class="car-count-box">
                            <span class="label">Car Number</span>
                            <span class="number">{{ car_count }}</span>
                        </div>

                    </div>
                    
                    <div class="list-container">

                        {% if car_count == 0 %}
                        <div class="empty-state">
                            <img src="{{ url_for('static', filename='image/empty.png') }}">
                            <h2>No Cars Yet</h2>
                        </div>

                        {% else %}

                        <div class="car-list">

                            {% for car in cars %}

                            <div class="car-item">
                                
                                <img src="{{car.image}}" class="car-img-placeholder">
                                <h4>{{car.nickname}} ( {{car.year}} )</h4>
                                <p>Proton {{car.model}}</p>          

                            </div>

                            {% endfor %}


                        </div>

                        {% endif %}
                    
                    </div>

                    <div class="action">
                        <button class="create-btn">Create More</button>
                    </div>

                    <div class="form-mode" id="formMode">
                        <div class="form-top">
                            <h1>Add New Car</h1>
                        </div>
                            <form id="carForm" method="POST" action="/add_car">

                                <div class="form-group">
                                    <label>1. Car Nickname</label>
                                    <input type="text" name="nickname" placeholder="Please Enter Car Nickname" required>
                                </div>

                                <div class="form-group">
                                    <label>2. Car Year</label>
                                    <input type="number" name="year" min="2020" max="2026" value="2022">
                                </div>

                                <div class="form-group">
                                    <label>3. Car Model</label>

                                    <div class="model-options">

                                        <input type="radio" id="emas5" name="model" value="EMAS 5" hidden>
                                        <label for="emas5" class="model-btn">Emas 5</label>

                                        <input type="radio" id="emas7" name="model" value="EMAS 7" hidden>
                                        <label for="emas7" class="model-btn">Emas 7</label>

                                        <input type="radio" id="emasphev" name="model" value="EMAS PHEV" hidden>
                                        <label for="emasphev" class="model-btn">Emas Phev</label>

                                    </div>
                                </div>
                                
                                <div class="form-actions">
                                    <button type="button" class="cancel-btn" onclick="switchToView()">Cancel</button>
                                    <button type="submit" class="save-btn">Save</button>
                                </div>
                            </form>
                    </div>
                
                </div>

            </aside>

            <main class="main-content">

                <div class="top-nav">

                    <div class="user-tools">
                        <div class="notification-badge">Car Service Notification ⌵</div>
                        <div class="icon-btn">🔔</div>
                    </div>
                </div>

                <section class="hero-section">
                    <div class="hero-title">
                        <h2>1st CAR ( 2023 )</h2>
                        <p>Proton EMAS 5</p>
                    </div>

                    <div class="car-display-container">

                        <input type="checkbox" id="engineToggle" hidden>

                        <input type="checkbox" id="tyreToggle" hidden>

                        <img  class="main-car-img emas5-car" src="{{ url_for('static', filename='image/emas5transparent.png') }}">
                        
                        <img class="main-car-img engine-car" src="{{ url_for('static', filename='image/emas5engine1.png') }}">

                        <label for="engineToggle" class="engine-close">✕</label>
                        
                        <label for="tyreToggle" class="hotspot-dot hs-1"></label>
                        
                        <label for="engineToggle" class="hotspot-dot hs-2"></label>

                        <div class="progress-card">

                            <label for="tyreToggle" class="close-btn">✕</label>

                            <div class="progress-top">
                                <img src="{{ url_for('static', filename='image/tyreemas5.png') }}">
                                <div class="status-circle">
                                    <span>90%</span>
                                </div>
                            </div>

                            <p>Tyre is currently in good condition (90%) and does not require replacement.</p>

                        </div>


                        <input type="checkbox" id="eh1Toggle" hidden>

                        <label for="eh1Toggle" class="engine-hotspot eh-1"></label>

                        <div class="engine-card card-1">

                            <label for="eh1Toggle" class="close-btn">✕</label>

                            <div class="progress-top">
                                <img src="{{ url_for('static', filename='image/engine1.png') }}">
                                <div class="status-circle">
                                    <span>90%</span>
                                </div>
                            </div>

                            <p>Engine system is running normally.</p>
                        </div>

                        <input type="checkbox" id="eh2Toggle" hidden>


                        <label for="eh2Toggle" class="engine-hotspot eh-2"></label>

                        <div class="engine-card card-2">

                            <label for="eh2Toggle" class="close-btn">✕</label>

                            <div class="progress-top">
                                <img src="{{ url_for('static', filename='image/battery.png') }}">
                                <div class="status-circle">
                                    <span>10%</span>
                                </div>
                            </div>

                            <p>Battery health is 88%.</p>
                        </div>


                        <input type="checkbox" id="eh3Toggle" hidden>

                        <label for="eh3Toggle" class="engine-hotspot eh-3"></label>

                        <div class="engine-card card-3">

                            <label for="eh3Toggle" class="close-btn">✕</label>

                            <div class="progress-top">
                                <img src="{{ url_for('static', filename='image/cooling.png') }}">
                                <div class="status-circle">
                                    <span>80%</span>
                                </div>
                            </div>

                            <p>Cooling system temperature is stable.</p>
                        </div>

                        
                    </div>

                </section>

                <section class="data-grid">

                <!-- CARD 1: BATTERY -->
                <div class="data-card battery-card">

                    <h5>EV Battery Status</h5>

                    <div class="battery-value">90<span>%</span></div>

                    <div class="battery-bar">
                    <div class="fill"></div>
                    <div class="battery-tip"></div>
                    </div>

                    <div class="battery-label">
                    Optimal performance range
                    </div>

                </div>


                <!-- CARD 2: MAINTENANCE -->
                <div class="data-card maintenance-card">

                    <h5>Maintenance Distance</h5>

                    <div class="main-value">800 <span>km</span></div>

                    <div class="sub-text">
                    Avg cycle: 1000 km
                    </div>

                    <div class="ratio-line">

                    <div class="progress"></div>

                    <div class="marker current">
                        <div class="num">800</div>
                        <div class="tag">Current</div>
                    </div>

                    <div class="marker target">
                        <div class="num">1000</div>
                        <div class="tag">Target</div>
                    </div>

                    </div>

                </div>

                </section>
            </main>

        </div>

        <script>
            function switchToForm() {
                document.getElementById("evcard").classList.add("form-active");
            }

            function switchToView() {
                document.getElementById("evcard").classList.remove("form-active");
            }

            document.querySelector(".create-btn").addEventListener("click", switchToForm);
        </script>

    </body>
 
</html>